n8n-workflows/whatsapp-telegram-openclautomation.json
{
  "name": "WhatsApp-Telegram-OpenClaw Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode"
      },
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.body.sender }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "rightValue": "system"
            }
          ]
        }
      },
      "name": "Filter System Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body;\nconst message = data.message || data.text || '';\nconst sender = data.sender || data.sender_id || 'Unknown';\n\nreturn [{\n  json: {\n    originalMessage: message,\n    sender: sender,\n    timestamp: new Date().toISOString(),\n    platform: 'whatsapp',\n    formattedText: `[WhatsApp de ${sender}] ${message}`\n  }\n}];"
      },
      "name": "Format WhatsApp Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "📱 <b>Nouveau message WhatsApp</b>\n\n<b>De :</b> {{ $json.sender }}\n<b>Heure :</b> {{ $json.timestamp }}\n\n<b>Message :</b>\n{{ $json.originalMessage }}",
        "parse_mode": "HTML"
      },
      "name": "Forward to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENCLAW_WEBHOOK_URL }}",
        "body": {
          "message": "={{ $json.originalMessage }}",
          "sender": "={{ $json.sender }}",
          "platform": "whatsapp",
          "forward_to": "telegram"
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Send to OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "rightValue": "200"
            }
          ]
        }
      },
      "name": "Check OpenClaw Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🤖 <b>Réponse d'OpenClaw :</b>\n\n{{ $json.reply }}",
        "parse_mode": "HTML"
      },
      "name": "Send AI Response to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'ok',\n    forwarded: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Filter System Messages",
            "type": "main"
          }
        ]
      ]
    },
    "Filter System Messages": {
      "main": [
        [
          {
            "node": "Format WhatsApp Data",
            "type": "main"
          }
        ]
      ]
    },
    "Format WhatsApp Data": {
      "main": [
        [
          {
            "node": "Forward to Telegram",
            "type": "main"
          },
          {
            "node": "Send to OpenClaw",
            "type": "main"
          }
        ]
      ]
    },
    "Send to OpenClaw": {
      "main": [
        [
          {
            "node": "Check OpenClaw Response",
            "type": "main"
          }
        ]
      ]
    },
    "Check OpenClaw Response": {
      "main": [
        [
          {
            "node": "Send AI Response to Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "Send AI Response to Telegram": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
